@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("fonts/BarlowSemiCondensed-Regular.woff2") format("woff2"),
    url("fonts/BarlowSemiCondensed-Regular.woff") format("woff"),
    url("fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("fonts/BarlowSemiCondensed-Medium.woff2") format("woff2"),
    url("fonts/BarlowSemiCondensed-Medium.woff") format("woff"),
    url("fonts/BarlowSemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("fonts/BarlowSemiCondensed-SemiBold.woff2") format("woff2"),
    url("fonts/BarlowSemiCondensed-SemiBold.woff") format("woff"),
    url("fonts/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("fonts/BarlowSemiCondensed-Bold.woff2") format("woff2"),
    url("fonts/BarlowSemiCondensed-Bold.woff") format("woff"),
    url("fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("fonts/BarlowSemiCondensed-ExtraBold.woff2") format("woff2"),
    url("fonts/BarlowSemiCondensed-ExtraBold.woff") format("woff"),
    url("fonts/BarlowSemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.woff2") format("woff2"),
    url("fonts/Poppins-Regular.woff") format("woff"),
    url("fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
:root {
  --bs-font-sans-serif: "Barlow Semi Condensed", system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --bs-font-secondary: "Poppins";
  --bs-gradient: linear-gradient(
    180deg,
    rgb(255 255 255 / 15%),
    rgba(255 255 255 / 50%)
  );
  --bs-body-font-size: 1rem;
  --bs-body-line-height: 1.2;
  --bs-body-font-weight: normal;
  --bs-body-color: #000;
  --bs-body-bg: #fff;
  color-scheme: light only;
}

body,
html {
  --bs-gutter-x: 1rem;
  width: 100%;
  height: 100%;
}

.background {
  position: relative;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

html {
  font-size: 16px;
}

.font-secondary {
  font-family: var(--bs-font-secondary) !important;
}

.bi.icon-bold::before {
  font-weight: 900 !important;
}

.row {
  --bs-gutter-x: 2rem;
}

.redirection-popup {
  padding: 0;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

/* Font Sizes */
sup {
  top: -0.5rem;
  font-size: 50%;
}

small,
.small,
.helper-text {
  font-size: 85%;
}

.big {
  font-size: 125%;
}

/* Display Grid */
.d-grid {
  gap: 1rem;
}

.d-grid .grid-item {
  position: relative;
}

.pretitle {
  margin-bottom: 0.5em;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-family: "Barlow Semi Condensed" !important;
  position: relative;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.title-border {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: inherit;
}

.title-border::before,
.title-border::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background-color: currentColor;
}

.title-border::before {
  top: 0;
}

.title-border::after {
  bottom: 0;
}

.title span[class^="bg"] {
  padding: 3px 10px;
  line-height: 1.35;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.subtitle sup {
  position: unset;
  vertical-align: super;
}

/* Break lines */
.lg-br {
  display: none;
}

.sm-br {
  display: none;
}

.xs-br {
  display: inline;
}

.check-list {
  list-style: none;
}

.check-list li {
  position: relative;
  margin-bottom: 0.5rem;
  text-align: left;
}

.check-list li::before {
  content: "\f272";
  font-family: bootstrap-icons;
  position: absolute;
  left: -1.5rem;
}

.separator {
  width: 50px;
  margin: 10px auto;
  background: #000;
  height: 2px;
}

.container > hr {
  margin: 0;
}

/* Navbar */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

/* Categories */
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em 1em;
}

.categories .categories-item {
  position: relative;
}

.categories .categories-item > .btn {
  font-size: 0.9rem;
  font-weight: normal;
}

.categories .categories-item .stretched-link {
  color: inherit;
  text-decoration: underline;
}

.categories .categories-item .stretched-link:hover {
  text-decoration: unset;
}

.categories .categories-item img {
  margin-bottom: 1em;
}

.categories .categories-item .card {
  height: 100%;
  background-color: transparent;
}

.categories .categories-item .card .card-img-top {
  position: relative;
  margin-bottom: unset;
  border-radius: 0rem;
}

.categories .categories-item .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  min-height: 3rem;
}

.categories .categories-item .card .card-text:not(:last-child) {
  margin-bottom: 0.5rem;
}

.categories .stretched-link {
  color: inherit;
}

.categories .btn {
  min-width: unset;
  max-width: 100%;
}

/* accordion */
.accordion:not(:last-child) {
  margin-bottom: 3rem;
}

.accordion .accordion-button:focus {
  box-shadow: unset;
}

.accordion .accordion-button::after {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
  background-image: none;
}

.accordion .accordion-body p:last-child {
  margin-bottom: 0;
}

.accordion.accordion-flush .accordion-item {
  border-bottom: 0;
  margin-bottom: 1.25rem;
}

.accordion.accordion-flush .accordion-item:last-child {
  margin-bottom: 0;
}

.accordion.accordion-flush .accordion-item .accordion-button {
  padding: 0.7rem 0;
  box-shadow: none;
  border-radius: 0;
  font-weight: 500;
  transition: all 0.15s linear;
  align-items: flex-start;
}

.accordion.accordion-flush .accordion-item .accordion-button img {
  align-self: flex-start;
  max-width: 1rem;
  margin-right: 0.25rem;
}

.accordion.accordion-flush .accordion-item .accordion-button:not(.collapsed),
.accordion.accordion-flush
  .accordion-item
  .accordion-button:not(.collapsed):focus {
  color: #3e454e;
  background-color: inherit;
  box-shadow: none;
}

.accordion.accordion-flush .accordion-item .accordion-button::after {
  width: 0.9rem;
  height: 0.9rem;
  background-size: 0.9rem;
}

.accordion.accordion-flush
  .accordion-item
  .accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.accordion.accordion-flush .accordion-body {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.accordion.accordion-buttons .accordion-item {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.5rem rgb(0 0 0 / 80%);
}

.accordion.accordion-buttons .accordion-item:not(:last-child) {
  margin-bottom: 1rem;
}

.accordion.accordion-buttons .accordion-item .accordion-button {
  padding: 1rem;
  border-radius: 0.5rem;
}

.accordion.accordion-buttons .accordion-button {
  color: inherit;
  background-color: white;
  border: 2px solid #2073a5;
}

.accordion.accordion-buttons .accordion-button:not(.collapsed) {
  color: white;
  background-color: #2073a5;
}

.accordion.accordion-buttons .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff '%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion.accordion-buttons .accordion-body {
  padding-left: 0;
  padding-right: 0;
}

/* tooltip */
.btn-tooltip:hover > span {
  transform: rotate(-45deg);
}

.btn-tooltip:hover > span::before {
  display: none;
}

.btn-tooltip > span {
  position: relative;
  margin-top: -5px;
  transition: transform 0.25s ease-in;
  z-index: 1;
}

.tooltip-custom.show {
  opacity: 1;
  z-index: 0;
}

.tooltip-custom {
  min-height: 100%;
}

.tooltip-custom .tooltip-arrow {
  display: none;
}

.tooltip-custom .tooltip-inner {
  min-height: 100%;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.75em;
  color: inherit;
  text-align: right;
  background-color: rgba(255 255 255 / 45%);
}

/* downarrow */
.downarrow {
  text-align: center;
}

.downarrow .downarrow-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.downarrow .downarrow-arrow {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding-bottom: 0;
  box-sizing: content-box;
  margin: 0 auto;
  color: inherit;
  cursor: pointer;
  -webkit-animation: up-down 0.6s linear infinite;
  -moz-animation: up-down 0.6s linear infinite;
  animation: up-down 0.6s linear infinite;
}

.downarrow .downarrow-arrow::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"%3E%3Cpath fill="none" stroke-width="3px" stroke="%23fff" d="M2.5,14.2L25,35.8l22.5-21.6"/%3E%3C/svg%3E');
}

.downarrow .downarrow-arrow.doble-arrow::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff '%3E%3cpath d='M0.5,0.8L8,7.9l7.5-7.1 M0.5,8.1L8,15.2l7.5-7.1'/%3E%3C/svg%3E%0A");
}

.downarrow .downarrow-arrow.real-arrow::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25,5.3v39.3 M9.5,29.2L25,44.7 M40.5,29.2L25,44.7' fill='none' stroke='%23ffffff ' stroke-linecap='round' stroke-width='6px'/%3E%3C/svg%3E%0A");
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

@-moz-keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

@-o-keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(2px);
  }

  25% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(6px);
  }

  75% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(2px);
  }
}

/* LOADER */
.loader-screen {
  position: fixed !important;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
  transition: visibility 0.2s linear, opacity 0.2s linear;
  background-color: #fff;
}

.loader-screen:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.loader-screen:after {
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
}

.loader-screen.loader-hide {
  opacity: 0;
  visibility: hidden;
}

.loader-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

.loader-markets-logos {
  margin-bottom: 10vh;
}

.loader-markets-logos img {
  max-width: 200px;
}

.loader-pinkbrand-logo {
  margin-bottom: 10vh;
}

.loader-pinkbrand-logo img {
  max-width: 30vh;
}

.loader-logo img {
  max-width: 24vh;
}

.sk-fading-circle {
  margin: 10vh auto 0px auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  height: 10%;
  background-color: #111;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

/* MOSCA */
.mosca-superior {
  position: fixed;
  z-index: 9999;
  top: 0px;
}

.mosca-superior img {
  width: 4rem;
  vertical-align: top;
}

.mosca-superior a {
  display: block;
  height: 100%;
}

/* COPY CODE */
.copy-code {
  display: block;
  text-align: center;
}

.copy-code .btn-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-width: 2px;
  border-radius: 0.25rem;
  margin: 0 auto;
  min-width: 15rem;
  width: auto;
  max-width: 100%;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: none;
}

.copy-code .btn-copy .copy-text {
  padding-left: 2rem;
  font-size: 125%;
}

.copy-code .btn-copy .copy-icon-wrapper {
  position: relative;
  display: inline;
  width: 2rem;
  height: 1rem;
  font-size: 110%;
  vertical-align: unset;
}

.copy-code .btn-copy .copy-icon,
.copy-code .btn-copy .copy-icon-ok {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copy-code .btn-copy .copy-icon-ok {
  display: none;
}

.copy-code .btn-copy .copy-icon::before {
  font-weight: inherit !important;
}

.copy-code .copy-helper {
  margin-top: 0.5rem;
  font-size: 65%;
  font-weight: normal;
  text-align: center;
}

.copy-code .copy-helper:last-child {
  margin-bottom: 0;
}

/* .btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
} */

.btn {
  width: 15rem !important;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -0.5rem;
  margin-bottom: 3rem;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-group > .btn {
  min-width: 10rem;
  padding: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-weight: bold;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 2rem;
  margin-left: 0;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: 0.25rem;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
  border-radius: 2rem;
  margin-right: 0;
}

.accordion .btn-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3rem;
  /* background-color: #fff; */
  overflow-x: hidden;
  /* box-shadow: 0 0 1rem -0.5rem rgb(0 0 0 / 50%); */
}

.accordion .btn-group .btn {
  position: relative;
  flex: 1 0 0%;
  min-width: unset;
  max-width: 100%;
  border-radius: inherit;
  background-color: transparent;
  text-transform: none;
  box-shadow: unset;
  z-index: 1;
}

.accordion .btn-group .bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(101%);
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: transform 0.15s ease-in-out;
}

.accordion .btn-group .btn[aria-expanded="true"]:first-child ~ .bg {
  transform: translate(-100%);
}

.accordion .btn-group .btn[aria-expanded="true"]:nth-child(2) ~ .bg {
  transform: translate(0);
}

.accordion .btn-group ~ .accordion-item {
  border: unset;
  border-bottom: 0;
  background-color: transparent;
}

/* brand */
/* .btn-brand {
  color: #ffffff;
  background-color: #ff0033;
  border-color: #ff0033;
} */

.btn-brand {
  color: #ffffff;
  background-color: #e30613;
  border-color: #e30613;
}

.btn-brand:hover,
.btn-brand:not(:disabled):not(.disabled).active,
.btn-brand:not(:disabled):not(.disabled):active,
.show > .btn-brand.dropdown-toggle {
  color: #ffffff;
  background-color: #ff335c;
  border-color: #ff335c;
}

.btn-outline-brand {
  color: #ff0033;
  background-color: transparent;
  background-image: none;
  border-color: #ff0033;
}

.btn-outline-brand:hover,
.btn-outline-brand:not(:disabled):not(.disabled).active,
.btn-outline-brand:not(:disabled):not(.disabled):active,
.show > .btn-outline-brand.dropdown-toggle {
  color: #ffffff;
  border-color: #ff0033;
  background-color: #ff0033;
}

.btn-brand.focus,
.btn-brand:focus,
.btn-brand:not(:disabled):not(.disabled).active:focus,
.btn-brand:not(:disabled):not(.disabled):active:focus,
.show > .btn-brand.dropdown-toggle:focus,
.btn-outline-brand.focus,
.btn-outline-brand:focus,
.btn-outline-brand:not(:disabled):not(.disabled).active:focus,
.btn-outline-brand:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-brand.dropdown-toggle:focus {
  color: #fff;
  background-color: #ff0033;
  border-color: #ff0033;
  box-shadow: 0 0 0 0.2rem rgb(217 38 74 / 50%);
}

.bg-brand {
  background-color: #ff0033 !important;
}

a.bg-brand:focus,
a.bg-brand:hover,
button.bg-brand:focus,
button.bg-brand:hover {
  background-color: #ff335c !important;
}

.bg-outline-brand {
  border-color: #ff0033 !important;
  background-color: #ffffff !important;
}

a.bg-outline-brand:focus,
a.bg-outline-brand:hover,
button.bg-outline-brand:focus,
button.bg-outline-brand:hover {
  border-color: #ff335c !important;
  background-color: #ffffff !important;
}

.text-brand {
  color: #e30613 !important;
}

a.text-brand:focus,
a.text-brand:hover {
  color: #ff335c !important;
}

.accordion .btn-group.btn-group-brand .btn {
  color: #ffffff !important;
}

.accordion .btn-group.btn-group-brand .btn[aria-expanded="false"] {
  color: inherit !important;
}

.accordion .btn-group.btn-group-brand .bg {
  background-color: #ff0033 !important;
}

/* primary */
.btn-primary {
  color: #ffffff;
  background-color: #f81453;
  border-color: #f81453;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #f94577;
  border-color: #f94577;
}

.btn-outline-primary {
  color: #f81453;
  background-color: transparent;
  background-image: none;
  border-color: #f81453;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #ffffff;
  border-color: #f81453;
  background-color: #f81453;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #f94577;
  border-color: #f81453;
  box-shadow: 0 0 0 0.2rem rgb(212 56 99 / 50%);
}

.bg-primary {
  background-color: #f81453 !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #f94577 !important;
}

.text-primary {
  color: #f81453 !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #f94577 !important;
}

/* secondary */
.btn-secondary {
  color: #fff;
  background-color: #636466;
  border-color: #636466;
}

.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #7c7d80;
  border-color: #7c7d80;
}

.btn-outline-secondary {
  color: #636466;
  background-color: transparent;
  background-image: none;
  border-color: #636466;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #ffffff;
  border-color: #636466;
  background-color: #636466;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  color: #ffffff;
  background-color: #636466;
  border-color: #636466;
  box-shadow: 0 0 0 0.2rem rgb(69 90 132 / 50%);
}

.bg-secondary {
  background-color: #636466 !important;
}

a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
  background-color: #7c7d80 !important;
}

.text-secondary {
  color: #636466 !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
  color: #7c7d80 !important;
}

/* dark */
.btn-dark {
  color: #ffffff;
  background-color: #3e454e;
  border-color: #3e454e;
}

.btn-dark:hover,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  color: #ffffff;
  background-color: #555e6a;
  border-color: #555e6a;
}

.btn-outline-dark {
  color: #3e454e;
  background-color: transparent;
  background-image: none;
  border-color: #3e454e;
}

.btn-outline-dark:hover,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #ffffff;
  border-color: #3e454e;
  background-color: #3e454e;
}

.btn-dark.focus,
.btn-dark:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  color: #ffffff;
  background-color: #3e454e;
  border-color: #3e454e;
  box-shadow: 0 0 0 0.2rem rgb(41 66 99 / 50%);
}

.bg-dark {
  background-color: #3e454e !important;
}

a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
  background-color: #555e6a !important;
}

.text-dark {
  color: #3e454e !important;
}

.text-light-dark {
  color: #787a7d !important;
}

a.text-dark:focus,
a.text-dark:hover {
  color: #555e6a !important;
}

/* light */
.btn-light {
  color: #000;
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.btn-light:hover,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}

.btn-outline-light {
  color: #f0f0f0;
  background-color: transparent;
  background-image: none;
  border-color: #f0f0f0;
}

.btn-outline-light:hover,
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: #000;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}

.btn-light.focus,
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus,
.btn-outline-light.focus,
.btn-outline-light:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(244 235 235 / 50%);
}

.bg-light {
  background-color: #e6e6e6 !important;
}

a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
  background-color: #d6d6d6 !important;
}

.text-light {
  color: #f0f0f0 !important;
}

a.text-light:focus,
a.text-light:hover {
  color: #d6d6d6 !important;
}

/* privalia */
.btn-privalia {
  color: #ffffff;
  background-color: #f03;
  border-color: #f03;
  border-radius: 0.25rem;
}

.btn-privalia::after {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3e%3cpath fill='white' d='M25,0c-6.7,6.7-4.4,14-3.5,16.1c0.6,1.4,3,5.7,3.5,6.6c0.5-1,2.9-5.2,3.5-6.6C29.4,14,31.7,6.7,25,0'/%3e%3cpath fill='white' d='M4.8,9.9c1,9.6,8,12.2,10.2,12.8c1.5,0.4,6.2,1.2,7.3,1.4c-0.4-1-2.2-5.5-2.9-6.9C18.3,15.1,14.2,8.7,4.8,9.9'/%3e%3cpath fill='white' d='M0,32.2c7.9,5.2,14.4,1.2,16.2-0.1c1.2-0.9,4.8-4.2,5.6-4.9c-1-0.3-5.6-1.7-7.1-2C12.4,24.7,4.9,24,0,32.2'/%3e%3cpath fill='white' d='M13.8,50c8.9-3.1,9.9-10.7,10-13c0-1.6-0.3-6.4-0.3-7.5c-0.9,0.6-4.8,3.4-6,4.4C15.8,35.4,10.6,41,13.8,50'/%3e%3cpath fill='white' d='M36.2,50c3.2-9-2-14.6-3.7-16c-1.2-1-5.1-3.8-6-4.4c-0.1,1.1-0.4,6-0.3,7.5C26.3,39.3,27.3,46.9,36.2,50'/%3e%3cpath fill='white' d='M50,32.2c-4.9-8.2-12.4-7.5-14.6-7c-1.5,0.3-6.1,1.7-7.1,2c0.8,0.7,4.4,4,5.6,4.9C35.6,33.4,42.1,37.3,50,32.2'/%3e%3cpath fill='white' d='M45.2,9.9c-9.4-1.2-13.5,5.2-14.5,7.3c-0.7,1.4-2.5,5.9-2.9,6.9c1.1-0.2,5.8-1,7.3-1.4C37.2,22.1,44.2,19.5,45.2,9.9'/%3e%3c/svg%3e");
}

.btn-privalia:hover,
.btn-privalia:not(:disabled):not(.disabled).active,
.btn-privalia:not(:disabled):not(.disabled):active,
.show > .btn-privalia.dropdown-toggle {
  color: #ffffff;
  background-color: #f03;
  border-color: #f03;
}

.btn-outline-privalia {
  color: #f03;
  background-color: transparent;
  background-image: none;
  border-color: #f03;
}

.btn-outline-privalia:hover,
.btn-outline-privalia:not(:disabled):not(.disabled).active,
.btn-outline-privalia:not(:disabled):not(.disabled):active,
.show > .btn-outline-privalia.dropdown-toggle {
  color: #ffffff;
  border-color: #f03;
  background-color: #f03;
}

.btn-privalia.focus,
.btn-privalia:focus,
.btn-privalia:not(:disabled):not(.disabled).active:focus,
.btn-privalia:not(:disabled):not(.disabled):active:focus,
.show > .btn-privalia.dropdown-toggle:focus,
.btn-outline-privalia.focus,
.btn-outline-privalia:focus,
.btn-outline-privalia:not(:disabled):not(.disabled).active:focus,
.btn-outline-privalia:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-privalia.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%);
}

.bg-privalia {
  background-color: #000000 !important;
}

a.bg-privalia:focus,
a.bg-privalia:hover,
button.bg-privalia:focus,
button.bg-privalia:hover {
  background-color: #555e6a !important;
}

.text-privalia {
  color: #000000 !important;
}

a.text-privalia:focus,
a.text-privalia:hover {
  color: #555e6a !important;
}

/* veepee */
.btn-veepee {
  color: white;
  background-color: #f03;
  border-color: #f03;
  border-radius: 0.25rem;
}

.btn-veepee::after {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 50'%3e%3cpath fill='white' d='M36.8,31.4c-1.4,1.7-2.8,3.3-4.3,4.6c-0.2,0.2-0.4,0.2-0.2,0c5.5-6,11.5-19.4,3.7-32.6c0,0-3.1,2.1-5.6,6.5 C28,6.1,24.4,2.9,19.9,0c0,0-11.3,12.7-6.3,31.2c-14.5,2-9.2,13.2-6.9,14.9c0.1,0.1,0.2,0,0.1-0.2c-0.8-1.3-3.1-5.6,1.6-9.8 c2.5-2.3,7.8-2.8,7.8-2.8C14.9,24.3,15,16.3,21,7.4c0.8,0.5,9.6,4.4,9.9,17.5c0.7,8.2-3.5,14.8-7.6,17.3C16,46.2,7.8,48.1,0.7,49.8 C0.1,50,0.3,50,0.7,50c16.9-0.7,31.9-8.4,37.7-15.6c1.1-1.4,1.6-2.9,0.9-3.8C38.5,29.7,37.1,31.1,36.8,31.4 M34.1,20.7 c-0.2-2.5-0.8-5-1.8-7.3c1.6-3.4,3.3-4.7,3.3-4.7S39,17.6,36,26.6c-1.9,5.6-4.1,9-5.3,10.5c-0.3,0.3-0.5,0.4-0.4,0.2 C33.2,33.5,34.7,27.5,34.1,20.7'/%3e%3c/svg%3e");
}

.btn-veepee:hover,
.btn-veepee:not(:disabled):not(.disabled).active,
.btn-veepee:not(:disabled):not(.disabled):active,
.show > .btn-veepee.dropdown-toggle {
  color: #ffffff;
  background-color: #f03;
  border-color: #f03;
}

.btn-outline-veepee {
  color: #f03;
  background-color: transparent;
  background-image: none;
  border-color: #f03;
}

.btn-outline-veepee:hover,
.btn-outline-veepee:not(:disabled):not(.disabled).active,
.btn-outline-veepee:not(:disabled):not(.disabled):active,
.show > .btn-outline-veepee.dropdown-toggle {
  color: #ffffff;
  border-color: #f03;
  background-color: #f03;
}

.btn-veepee.focus,
.btn-veepee:focus,
.btn-veepee:not(:disabled):not(.disabled).active:focus,
.btn-veepee:not(:disabled):not(.disabled):active:focus,
.show > .btn-veepee.dropdown-toggle:focus,
.btn-outline-veepee.focus,
.btn-outline-veepee:focus,
.btn-outline-veepee:not(:disabled):not(.disabled).active:focus,
.btn-outline-veepee:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-veepee.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(195 34 123 / 50%);
}

.bg-veepee {
  background-color: #ff1a97 !important;
}

a.bg-veepee:focus,
a.bg-veepee:hover,
button.bg-veepee:focus,
button.bg-veepee:hover {
  background-color: #ff1a97 !important;
}

.text-veepee {
  color: #ff1a97 !important;
}

a.text-veepee:focus,
a.text-veepee:hover {
  color: #ff1a97 !important;
}

/* link */
.btn-link {
  font-weight: inherit;
  color: inherit;
  text-decoration: underline;
}

.btn-link:hover {
  color: inherit;
  text-decoration: underline;
  filter: brightness(85%);
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
  color: inherit;
  pointer-events: none;
  opacity: 0.9;
}

/* background transparent */
.bg-transparent {
  background-color: transparent;
}

/* background image */
.bg-img {
  position: relative;
  z-index: 0;
}

.bg-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/caneto-background.jpg");
  z-index: -1;
}

/* background animated */
.bg-animated {
  position: relative;
  z-index: 1;
}

.bg-animated span {
  position: absolute;
  bottom: 5%;
  left: -2.5%;
  width: 105%;
  height: 55%;
  z-index: -1;
}

/* background animated */
.moved-bg {
  position: relative;
  width: 100%;
  padding: 0.25rem;
}

.moved-bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(1deg);
  display: block;
  width: 95%;
  height: 130%;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem 0 rgb(0 0 0 / 30%);
  z-index: -1;
}

/* CARD */
.card {
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2rem;
  text-align: center;
  background-color: unset;
  z-index: 0;
}

.card .card-img-top,
.card .card-body:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card .card-img {
  border-radius: inherit;
  overflow: hidden;
}

.card .card-body {
  padding: 2rem 1rem 0 1rem;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card .card-title {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.card .badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: normal;
  color: inherit;
}

/* COUNTDOWN */
.countdown {
  font-size: 1rem;
  font-weight: normal;
}

.countdown .countdown-text {
  margin-bottom: 0;
}

.countdown .countdown-timer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.countdown .countdown-hours,
.countdown .countdown-minutes,
.countdown .countdown-seconds,
.countdown .countdown-points,
.countdown .countdown-expired {
  font-size: 320%;
  font-weight: 600;
}

.countdown .countdown-points {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.countdown .countdown-name {
  font-size: 90%;
}

/* SWIPER */
.swiper {
  position: relative;
  margin-bottom: 0;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  top: 35%;
  width: 1.25rem;
  height: 2.25rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  color: #e30613 !important;
  box-shadow: none;
}

.section4 .swiper .swiper-button-prev,
.section4 .swiper .swiper-button-next {
  top: 5.6rem;
  position: absolute;
}

.swiper .swiper-button-prev {
  left: 0rem;
}

.swiper .swiper-button-next {
  right: 0rem;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  color: inherit;
  font-size: 1.6rem;
  /* font-weight: bold; */
}

.swiper .swiper-button-prev.custom,
.swiper .swiper-button-next.custom {
  color: inherit;
}

.swiper .swiper-button-prev.custom::after,
.swiper .swiper-button-next.custom::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.swiper .swiper-button-prev.custom::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' points='3.5,10.5 1,8 3.5,5.5'/%3E%3Cline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' x1='1' y1='8' x2='15' y2='8'/%3E%3C/svg%3E");
}

.swiper .swiper-button-next.custom::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMUwxMSA5TDEgMTciIHN0cm9rZT0iI0UzMDYxMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
}

.swiper-pagination .swiper-pagination-bullet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0.75rem;
  height: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  margin: 0 0.25rem;
  opacity: 1;
  background-color: transparent;
  font-size: 1.15rem;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: currentColor;
  background-color: currentColor;
}

.swiper-pagination .swiper-pagination-bullet.custom {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0.25rem;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}

.swiper-pagination
  .swiper-pagination-bullet.custom.swiper-pagination-bullet-active {
  border-color: currentColor;
  background-color: transparent;
  transform: scale(1.5);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper .swiper-slide.see-more {
  position: relative;
  height: 100%;
}

.swiper .swiper-slide.see-more .stretched-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper .position-relative {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  margin-top: 0.5em;
}

.section4 .swiper .position-relative {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  margin-top: 1em;
}

.swiper .position-relative .swiper-button-prev,
.swiper .position-relative .swiper-button-next,
.swiper .position-relative .swiper-pagination {
  position: initial;
  transform: unset;
  margin-top: unset;
}

.swiper .position-relative .swiper-button-prev {
  margin-left: 0.5rem;
}

.swiper .position-relative .swiper-button-next {
  margin-right: 0.5rem;
}

.swiper-slide .card {
  height: 100%;
}

.swiper-slide .card .card-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.swiper .position-relative.swiper-scrollbar {
  width: 90%;
  height: 0.25rem;
  margin: 0 auto;
  background-color: #fff;
}

.swiper .position-relative.swiper-scrollbar .swiper-scrollbar-drag {
  height: 102%;
  width: 100%;
  background: currentColor;
}

.presenseSwiper-pagination {
  margin-top: -20px;
}

.presenseSwiper-pagination .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 10px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 10px)
  );
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ff4940;
  opacity: 1;
}

.presenseSwiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff4940;
}

/* videocontainer */
.videocontainer {
  position: relative;
  display: flex;
  /* min-height: 30vh; */
}

.videocontainer video {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section4 .videocontainer video {
  border-bottom-right-radius: 70px;
  background-clip: padding-box;
}

.text-red {
  color: #ff0033;
}

.videocontainer .video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.videocontainer .video-text p:last-child {
  margin-bottom: 0;
}

/* Badge */
.badge {
  padding: 0.5rem 0.75rem;
  font-size: 75%;
  font-weight: 600;
}

.badge.badge-outline {
  padding: 0.35rem 0.6rem;
  border-width: 0.15rem;
  border-style: solid;
  border-color: currentColor;
}

/* Topo */
.topo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 65%;
  line-height: 1.1;
  text-align: center;
  color: white;
  background-color: #231421;
}

.topo p:last-child {
  margin-bottom: 0;
}

.topo strong {
  font-size: 125%;
  font-weight: normal;
}

/* SWITCH */
.switch .switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.switch .switch-label {
  position: relative;
  height: 3rem;
  width: 6rem;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}

.switch .switch-label::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 3rem;
  background-color: rgb(255 255 255);
}

.switch .switch-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  display: block;
  width: 3rem;
  height: 3rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background-color: currentColor;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
}

.switch .switch-input:checked ~ .switch-label::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* CHECKBOX */
.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
}

.form-check-input:checked {
  background-color: #5d60b7;
  border-color: #5d60b7;
}

.form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 0 51 / 25%);
}

.form-check {
  text-align: left;
}

.form-check-label {
  padding-left: 0.75rem;
  font-size: 0.65rem;
}

/* FORM-CONTROL */
.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #ff8099;
  box-shadow: 0 0 0 0.25rem rgb(255 0 51 / 25%);
}

/* #landing1,
  .landing1 {
	display: none;
  } */
#landing2,
.landing2 {
  display: none;
}

.wave {
  position: absolute;
  z-index: 1;
}

.decoration {
  position: absolute;
  width: 7rem;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.decoration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.svg-animation {
  position: absolute;
  display: block;
}

.svg-animation svg {
  width: 100%;
}

.svg-animation svg path {
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  transition: stroke-dashoffset 0.5s ease-in;
}

.svg-animation.aos-animate svg path {
  stroke-dashoffset: unset;
}

.masonry {
  overflow: hidden;
  margin-bottom: -1em;
}

.masonry .masonry-item {
  width: calc(50% - 0.5rem);
  margin-bottom: 1rem;
}

.masonry .masonry-item img:not(:last-child) {
  margin-bottom: 1em;
}

.masonry .stretched-link {
  color: inherit;
}

section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* HEADER */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 92vh;
  text-align: center;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1rem;
}

header.header-blocks > .container,
header.header-blocks > .container-fluid {
  height: 102%;
}

header.header-blocks .header-content {
  flex-basis: initial;
  /* justify-content: space-around; */
  height: 98%;
}

header.header-blocks .downarrow {
  flex-basis: initial;
}

header .navbar + .container,
header .navbar + .container-fluid {
  height: 100%;
}

header .header-image {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

header .header-image img {
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

header .navbar {
}

header .navbar-brand {
  margin-left: auto;
  margin-right: auto;
}

header .navbar-brand img {
  width: 8rem;
}

header .header-wrapper,
header .header-content {
  position: relative;
  height: 100%;
}

header .header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0rem;
  z-index: 1;
}

/* header .header-content .navbar {
  padding: 0.75rem;
  border-top-left-radius: 2rem;
  background-color: #fff;
} */

header .title {
  font-family: var(--bs-font-sans-serif) !important;
  margin-top: 2.2rem;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  width: 20rem;
}

header .title .text-white {
  font-size: 2.7rem;
  margin-top: 0.4rem;
  display: block;
}

header .title strong {
  font-family: var(--bs-font-secondary) !important;
  font-size: 2.3rem;
}

header .downarrow {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

header .downarrow .downarrow-arrow {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.35rem;
  border: 0;
  border-radius: 50%;
  margin-top: -1rem;
}

header .switch {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

header .header-image.moon {
  color: #00164d;
}

header .header-image.sun {
  color: #ff0033;
}

header .header-image.sun img,
header .header-image.moon img {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s linear;
}

header .header-image.sun .moon,
header .header-image.moon .sun {
  opacity: 0;
}

header .header-image.moon .switch .switch-label::after {
  background-image: url("../img/verisure-icon-moon.svg");
}

header .header-image.sun .switch .switch-label::after {
  background-image: url("../img/verisure-icon-sun.svg");
}

/* SECTION 2 */
.section2 {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.section2 img.img-fluid.price {
  width: 10rem;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
}

.section2 .graella-col1 {
  height: 3rem;
}

.section2 .container:last-child {
  padding-left: 0;
  padding-right: 0;
}

.section2 .container:first-child img {
  margin-top: 3rem;
}

.section2 .title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7rem;
  margin-top: 1.7rem;
  margin-bottom: 0;
}

.section2 .subtitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

/* SECTION 3 */
.section3 {
  position: relative;
  padding-top: 2.4rem;
  padding-bottom: 2.5rem;
}
.section3 .aniversary {
  height: 15vh;
  color: #fff;
}
.section3 .aniversary img {
  position: absolute;
  top: 4%;
  left: 0%;
  width: 100%;
  z-index: 0;
}
.section3 .aniversary .title {
  position: relative;
  top: 88%;
  z-index: 1;
  font-size: 2rem;
  width: 18rem;
  margin: 0 auto;
  color: #fff;
}
.section3 .aniversary .subtitle {
  position: relative;
  top: 100%;
  z-index: 1;
  font-size: 1.7rem;
  width: 18rem;
  margin: 0 auto;
  line-height: 1.3;
  color: #fff;
}

.section3 .title {
  margin-top: 32.5rem;
  color: #3d3d3d;
  font-size: 1.95rem;
  font-weight: 800;
  margin-bottom: 0;
}

.section3 .subtitle {
  margin: 0 auto;
  font-size: 1.65rem;
  margin-top: 0.9rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  font-weight: 500;
  width: 23rem;
}
.section3 .grid-item img {
  border-radius: 0.7rem;
  width: 11.5rem;
}
.section3 .d-grid {
  grid-template-columns: 1fr 1fr;
}

.section3 a {
  color: #000;
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 0.7rem;
  display: inline-block;
  font-family: "Barlow Semi Condensed";
  text-decoration: none;
}

/* SECTION 4 */
.section4 {
  /* background-color: #f0f0f0; */
  padding-top: 3rem;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
.section4 img.img-fluid.deco {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}
.section4 .title {
  position: relative;
  font-weight: 800;
  font-size: 2.05rem;
  line-height: 1.9rem;
  margin-top: 1.6rem;
  margin-bottom: 0;
  z-index: 1;
}

.section4 .subtitle {
  position: relative;
  font-size: 1.15rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  z-index: 1;
}

.section4 .swiper .title {
  margin-bottom: 0.5em;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.section4 .swiper .text {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.section4 .swiper a {
  margin-bottom: 0.5em;
  margin-top: 0.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #3d3d3d;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.section4 .swiper a:hover {
  color: #000;
  text-decoration: underline;
}

.section4 .swiper {
  margin-top: 1.5rem;
  overflow: visible;
}

.section4 .swiper .position-relative.swiper-scrollbar .swiper-scrollbar-drag {
  background: #e30613;
}

.section4 .swiper-scrollbar-drag {
  border-radius: unset;
}

.section4 .swiper .position-relative.swiper-scrollbar {
  width: 70%;
  height: 0.35rem;
  background-color: #dedede;
  border-radius: unset;
}

.section4 .swiper .position-relative {
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.section4 .swiper .swiper-slide {
  transform: scale(0.7);
  transition: transform 0.25s ease-in-out;
  padding-bottom: 2rem;
}

.section4 .swiper .swiper-slide.swiper-slide-active {
  transform: scale(0.9);
}

.section4 .swiper .swiper-slide img {
  margin-top: 0rem;
  height: 10rem;
}

.section4 .swiper-pagination .swiper-pagination-bullet {
  transition: all 0.5s ease-in;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #606060;
  border-color: #606060;
}

.section4
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 1.2rem;
  border-radius: 0.5rem;
  background-color: #e30613;
  border-color: #e30613;
}

/* SECTION 5 */
.section5 {
  margin-top: 2rem;
  padding-top: 0;
  padding-bottom: 3rem;
}
.section5 .title {
  font-family: "Barlow Semi Condensed" !important;
  position: relative;
  font-size: 2.1rem;
  color: #fff;
  font-weight: bold;
  margin-top: 3.1rem;
  margin-bottom: 1rem;
}
.section5 .subtitle {
  margin: 0 auto;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
  width: 15rem;
  font-weight: 500;
}

.section5 .title-categories {
  font-size: 1.45rem;
  font-weight: 500;
  text-align: left;
  margin-top: 1.6rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.section5 .image-col {
  padding-left: 0;
  padding-right: 0;
}

.section5 .category {
  position: relative;
  margin-bottom: 0.6rem;
}
.section5 .category1 {
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 0;
  width: 90vw;
}
.section5 .catname {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
}

.section5 .catname a {
  color: #000000;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  transition: all 0.2s;
  padding-left: 1.5rem;
}

.section5 .catname a:hover {
  text-decoration: underline;
}

.section5 img.nxt {
  transform: translateX(-15px);
  width: 10vw;
  margin-top: 3.7rem;
  /* margin-bottom: 2rem; */
}
.section5 img.nxt2 {
  transform: translateX(-15px);
  width: 10vw;
  margin-top: -0.55rem;
  /* margin-top: 3.7rem; */
  /* margin-bottom: 2rem; */
}
.section5 .row.category:hover .nxt {
  transition: transform 0.2s ease-in-out;
  transform: translateX(-5px);
}

.section5 .row.category:hover .nxt:hover {
  transform: translateX(5px);
}
.white-separator {
  position: relative;
  width: 33vh;
  margin: 0 auto;
  margin-top: -0.6rem;
  margin-bottom: 1rem;
  z-index: 9;
}

/* SECTION 6 */
.section6 {
  padding-top: 5.1rem;
}

.section6 .title {
  font-size: 2.1rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.section6 .d-grid {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  row-gap: 3rem;
  margin-top: 2rem;
  max-width: 92%;
}

.section6 p {
  font-weight: 600;
  font-size: 0.93rem;
  padding-top: 1rem;
  line-height: 1rem;
  margin-bottom: 0;
}

.section6 .grid-item img {
  max-width: 54%;
}
.section6 .grid-item img.last-child {
  max-width: 65%;
  margin-left: 1rem;
}

/* SECTION 7 */
.section7 {
  padding-top: 0.4rem;
  padding-bottom: 0rem;
  position: relative;
  margin-bottom: 5.6rem;
}

.section7 .container img {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90vw;
  z-index: 0;
}

.section7 .title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.9rem;
  margin-bottom: 2rem;
  margin-top: 4.4rem;
}

.section7 .subtitle {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.25rem;
}
.section7 .text {
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  font-size: 1.7rem;
}

/* OFFER */
.offer-section {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  bottom: 0;
  padding-top: 0rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  text-align: center;
  background: transparent;
  z-index: 999;
}
.offer-section .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-section .cta .btn {
  width: 100%;
}
.offer-section p {
  padding-bottom: 0 !important;
  margin-top: 0.4rem;
  font-size: 1.02rem;
}

.offer-section .helper-text {
  display: inline-block;
  margin-bottom: 0;
  font-size: 64%;
  /* opacity: 0.5; */
}

.offer-section .helper-text:first-child {
  margin-bottom: 0.5rem;
}

/* FOOTER */
footer {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.65rem;
  font-weight: normal;
  letter-spacing: 0;
  background-color: #3d3d3d;
  z-index: 1;
}

footer .footer-logos {
  justify-content: center;
  margin-bottom: 2rem;
}

footer .footer-logos:not(:first-child) {
  margin-top: 2rem;
}

footer .footer-logo {
  align-self: center;
  text-align: center;
  padding: 0 1.5rem;
}

footer .footer-logo:first-of-type {
  text-align: right;
}

footer .footer-logo:last-of-type {
  text-align: left;
}

footer .footer-logo img {
  width: 10rem;
  height: 3.5rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

footer .footer-separator {
  width: 1px;
  padding: 0;
  background-color: #fff;
}

footer .copyright {
  margin-bottom: 0;
  margin-top: 0.25rem;
  text-align: center;
  color: #fff;
}

footer a.event {
  color: inherit;
}

footer .footer-logos.carte-logos .footer-logo:first-of-type img {
  transform: translateX(1.1rem);
}

footer .footer-logos.carte-logos .footer-logo:last-of-type img {
  margin-left: 0.35rem;
}

footer .footer-logos.carte-logos .footer-separator {
  display: none;
}

span.mes {
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  width: 1.1rem;
  height: 1rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: 100;
  margin-right: 10px;
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.accordion-body {
  padding: 0;
  font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 767.98px) {
  .mosca-superior {
    display: none;
  }

  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pl-xs-0 {
    padding-left: 0 !important;
  }

  .pr-xs-0 {
    padding-right: 0 !important;
  }

  .mt-xs-auto {
    margin-top: auto !important;
  }

  .mt-xs-3 {
    margin-top: 1rem !important;
  }

  .mt-xs-5 {
    margin-top: 2rem !important;
  }

  .mb-xs-5 {
    margin-bottom: 2rem !important;
  }

  .mb-xs-6 {
    margin-bottom: 3rem !important;
  }

  .mt-xs-6 {
    margin-top: 3rem !important;
  }

  .text-xs-white {
    color: #fff !important;
  }

  .bg-xs-transparent {
    background-color: transparent !important;
  }

  .bg-xs-secondary {
    background-color: #717171 !important;
  }

  section {
    background-color: #fff;
    z-index: 2;
  }

  /* HEADER */
  header {
    position: relative;
    z-index: 2;
  }

  header .header-image img {
  }

  header .title {
  }

  /* SECTION 3 */
  .section3 {
  }

  .section3 .container {
  }

  .section3 .card .card-title {
    margin-bottom: 1.5em;
  }

  .section3 .container-fluid {
    text-align: left;
  }

  .section3 .btn {
    font-size: 1.15rem;
    font-weight: normal;
  }

  .section3 p.text-start.d-sm-none.ps-4 {
    font-size: 1rem;
  }

  .section3 .icon-wrapper {
    max-width: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  /* SECTION 4 */
  .section4 {
  }

  /* SECTION 5 */
  .section5 {
    background-color: #e30613;
  }

  /* .section5 .swiper {
    margin-left: -1rem;
    margin-right: -1rem;
  } */

  .section5 .swiper .d-flex {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 72%;
    flex-direction: column;
  }

  .section5 .swiper .d-flex img {
    max-width: 14%;
  }

  /* SECTION 6 */
  .section6 {
  }

  /* OFFER */
  .offer-section .helper-text:last-child {
    margin-top: 0.5rem;
  }

  /* FOOTER */
  footer {
    font-size: 0.5rem;
  }
}

@media (max-width: 367.98px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .xs-br {
    display: none;
  }

  .sm-br {
    display: inline;
  }

  .mb-sm-5 {
    margin-bottom: 2rem !important;
  }

  .mb-sm-6 {
    margin-bottom: 3rem !important;
  }

  .big {
    /* font-size: 130%; */
    font-size: 1.5rem;
  }

  .btn {
    min-width: 18rem;
    width: auto;
    font-size: 1.1rem;
  }

  .bg-sm-primary {
    background-color: #ff0090 !important;
  }

  a.bg-sm-primary:focus,
  a.bg-sm-primary:hover,
  button.bg-sm-primary:focus,
  button.bg-sm-primary:hover {
    background-color: #ff33a6 !important;
  }

  .text-sm-primary {
    color: #ff0090 !important;
  }

  .bg-sm-dark {
    background-color: #000 !important;
  }

  .card .card-body {
    padding: 2rem;
  }

  .card .badge {
    font-size: 0.75rem;
  }

  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1rem;
  }

  .d-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .title {
  }

  section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /* HEADER */
  header {
    height: 105vh;
  }

  header.header-blocks .header-wrapper {
    flex-direction: row;
  }

  header.header-blocks .header-content,
  header.header-blocks .header-image {
    height: 100%;
  }

  header.header-blocks .header-image {
  }

  header .header-image {
    top: 0;
    left: 0;
    width: 100%;
  }

  header .header-wrapper {
  }

  header .header-image img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
  }

  header .header-content {
    position: relative;
    flex: 0 0 auto;
    justify-content: flex-start;
    padding-bottom: 5rem;
    margin-left: 0;
    margin-right: auto;
  }

  header .navbar {
    padding-top: 2.9rem;
  }

  header .navbar-brand img {
    width: 9rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  header .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  header .downarrow {
    margin-top: 0.5rem;
  }

  header .downarrow .downarrow-text {
    color: #000;
  }

  .downarrow .downarrow-text {
    margin-bottom: 1.5em;
    font-size: 0.56rem;
    color: #fff !important;
  }

  .downarrow .downarrow-arrow::after {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"%3E%3Cpath fill="none" stroke-width="3px" stroke="%23fff" d="M2.5,14.2L25,35.8l22.5-21.6"/%3E%3C/svg%3E');
  }

  header .downarrow .downarrow-arrow {
    width: 1rem;
    height: 1rem;
  }

  header .switch {
    left: 150%;
    bottom: 20vh;
  }

  header .title .text-white {
    font-size: 2rem;
    margin-top: -0.4rem;
    display: block;
  }

  /* SECTION 2 */
  .section2 {
    padding-top: 3rem;
  }

  .section2 img {
    width: 34rem;
  }
  .section2 .container:first-child img {
    margin-top: 0rem;
  }
  .section2 .container:first-child {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .section2 .container:last-child {
    padding-left: initial;
    padding-right: initial;
    max-width: 1180px;
  }

  .section2 .title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section2 .graella {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .graella-col1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .graella-col2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .graella-col3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  /* SECTION 3 */
  .section3 {
    padding-top: 4.8rem;
    padding-bottom: 2.5rem;
  }
  .section3 .aniversary .title {
    top: 22%;
    font-size: 1.5rem;
    width: 13rem;
    color: #fff;
  }
  .section3 .aniversary img {
    height: 73vh;
  }

  .section3 .aniversary .subtitle {
    top: 33%;
    font-size: 1.15rem;
    width: 22rem;
    color: #fff;
  }
  .section3 .title {
    margin-top: 27.5rem;
    font-size: 1.5rem;
  }

  .section3 .subtitle {
    font-size: 1.15rem;
    margin-top: 0.6rem;
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
    width: 25rem;
  }
  .section3 .grid-item img {
    width: 9.8rem;
    margin-top: 0.4rem;
  }
  .section3 .d-grid {
    max-width: 908px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 0rem;
  }

  .section3 a {
    color: #000;
    font-size: 1.15rem;
    margin-top: 0.8rem;
    display: inline-block;
  }

  /* SECTION 4 */
  .section4 {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .section4 .title {
    font-size: 1.2rem;
    margin-top: 0rem;
  }

  .section4 .subtitle {
    font-size: 0.8rem;
    margin-top: 0.6rem;
  }

  .section4 .d-grid {
    gap: 2rem;
  }

  .section4 .swiper {
    margin-top: 3.7rem;
    max-width: 1114px;
  }

  .section4 .swiper a {
    margin-top: 0.7rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #3d3d3d;
    text-decoration: none;
    display: block;
  }

  .section4 .swiper .swiper-slide img {
    width: 12.5rem;
    height: 6rem;
    transform: rotate(0deg);
  }

  .section4 .swiper .swiper-slide img.first {
    transform: rotate(358deg);
  }

  .section4 .swiper .swiper-slide img.second {
    width: 11rem;
  }

  .section4 .swiper a.first {
    margin-top: 0.5rem;
    text-transform: inherit;
  }

  .section4 .swiper a.second {
    margin-top: 0.5rem;
    text-transform: inherit;
  }

  .section4 .swiper .swiper-slide {
    transform: scale(1) !important;
  }

  /* SECTION 5 */
  .section5 {
    padding-top: 1rem;
  }
  .section5 .title {
    font-size: 1.5rem;
    margin-top: 3;
    margin-bottom: 0;
  }
  .section5 .subtitle {
    font-size: 0.75rem;
    width: 18rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }

  .section5 .title-categories {
    text-align: left;
    margin-top: 0.5rem;
    width: 37rem;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
  }

  .section5 .category {
    margin-bottom: 0.5rem !important;
    width: 89vh;
    height: auto;
  }

  .section5 .justify-content-center {
    flex-direction: column;
  }
  .section5 .category img {
    width: 90%;
  }
  .section5 .catname {
    padding: 0.7rem 0.5rem;
  }
  .section5 .catname a {
    font-size: 0.65rem;
  }

  .section5 .col-5.g-0 {
    text-align: left;
  }

  .section5 .category img.nxt {
    margin-top: 2.6rem;
    width: 4%;
  }

  .section5 .category .nxt2 {
    width: 4%;
  }

  .section5 .swiper .swiper-slide {
    font-size: 1rem;
  }

  .section5 .swiper .swiper-scrollbar + .d-flex {
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 0.75rem;
  }

  .section5 .swiper .swiper-scrollbar + .d-flex > img {
    max-width: 3rem;
  }

  /* .section5 .swiper .swiper-slide p {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  } */
  /* .section5 .swiper .swiper-slide.swiper-slide-active,
  .section5 .swiper .swiper-slide.swiper-slide-active p {
    opacity: 1;
  } */

  .section5 .swiper .swiper-slide img {
    margin-bottom: 1rem;
  }

  .section5 .bullet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    border-style: solid;
    border-color: #ff0033;
    margin: 0 auto;
    opacity: 1;
    background-color: #fff;
    font-size: 1.15rem;
    border-color: #fff;
    background-color: #ff0033;
    width: 2.2rem;
    height: 2.2rem;
    color: #fff !important;
    border-radius: 50%;
    padding-top: 0.3rem !important;
    -webkit-box-shadow: 0px 0px 7px 4px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 7px 4px rgb(0 0 0 / 20%);
  }

  .section5 .swiper-button-next,
  .section5 .swiper-button-prev {
    display: none;
  }

  .section5 .image-col {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .white-separator {
    margin-top: -0.2rem;
  }

  /* SECTION 6 */
  .section6 {
    padding-top: 2.5rem;
    padding-bottom: 0rem;
  }

  .section6 .d-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 854px;
    margin: 0 auto;
  }

  .section6 .grid-item img {
    max-width: 45%;
  }
  .section6 .grid-item img.last-child {
    margin-left: 0;
    max-width: 45%;
  }

  .section6 p {
    font-size: 0.6rem;
    padding-top: 0.5rem;
  }

  .section6 .title {
    margin-bottom: 2rem;
    font-size: 1.54rem;
  }

  .section7 .container img {
    top: 32%;
    left: 13%;
    width: 60rem;
  }

  .section7 .subtitle {
    font-size: 0.76rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1.2rem;
    margin-left: 2rem;
  }

  .section7 .title {
    position: relative;
    z-index: 0;
    font-weight: 700;
    font-size: 1.52rem;
    line-height: 1.9rem;
    margin-bottom: 0;
    margin-top: 5.4rem;
    margin-left: 2rem;
  }
  .section7 .text {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  .section7 {
    margin-bottom: 4.3rem;
  }

  /* OFFER */
  .offer-section {
    padding-top: 0rem;
    padding-bottom: 1.45rem;
  }

  .offer-section .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer-section .text {
    font-size: 0.65rem;
    margin-bottom: 0.6rem;
  }
  .offer-section span {
    margin-top: 0rem;
    font-size: 0.6rem;
  }
  .offer-section .cta .btn {
    min-width: 10rem;
    width: auto;
    padding: 0.2rem 0 0.3rem 0;
    max-width: 11.9rem;
  }

  .offer-section .btn::after {
    height: 1.25rem;
    width: 1.25rem;
  }

  .offer-section .helper-text {
    margin-right: 1rem;
  }

  .offer-section .helper-text {
    font-size: 72%;
    /* opacity: 0.5; */
  }

  .btn {
    font-size: 1rem;
  }

  /* FOOTER */
  footer {
    padding-top: 1rem;
    text-align: left;
  }

  footer {
    font-size: 0.5rem;
  }
  footer .footer-logo img {
    width: auto;
  }

  footer .footer-logo img {
    height: 1.9rem;
  }
  footer .footer-logos {
    margin-bottom: 0.5rem;
  }

  footer .footer-logo.long-logo img {
    height: 1.2rem;
  }

  h2.title.text-brand.text-uppercase.pt-5.mb-2 {
    margin-top: 4rem;
  }

  .presense-desk {
    margin-top: 8rem;
  }

  img.img-fluid.vline {
    max-width: 3px;
    height: 86%;
  }

  .presense-desk .row {
    margin-top: -2.5rem;
  }

  .presense-desk .row:nth-of-type(4) {
    margin-top: 0rem;
  }

  span.mes {
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 100;
    margin-right: 10px;
    display: none;
  }

  .accordion-body {
    padding: 0;
    font-size: 0.9rem;
  }

  img.img-fluid.vline-last {
    height: auto;
    width: 3px;
  }
}

@media (min-width: 1400px) {
  html {
  }
}

@media (min-width: 1900px) {
  .section7 .container img {
    left: 25%;
  }
  .section5 img.nxt2,
  .section5 img.nxt {
    margin-top: -0.4rem;
    margin-right: 0.5rem;
  }
  .section3 {
    padding-top: 6.8rem;
  }

  header .header-image img {
    object-position: 0 -140px;
  }

  header {
    height: 103vh;
  }
}

/* IPHONE SE, 6,7,8 */
@media (min-width: 370px) and (max-width: 380px) {
  html {
  }
}

/* SPECIAL */
@media (min-width: 1200px) and (max-width: 1400px) and (min-height: 500px) and (max-height: 650px) {
  html {
    font-size: 16px;
  }

  header {
    height: 123vh;
  }

  header .header-image img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 0 -90px;
  }

  header .navbar-brand img {
    width: 8rem;
  }

  header .navbar {
    padding-top: 1rem;
  }

  header .title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .downarrow .downarrow-text {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #fff !important;
  }

  .section4 .swiper a.first,
  .section4 .swiper a.second {
    margin-top: 1rem;
  }

  .section4 .swiper .swiper-slide img.first,
  .section4 .swiper .swiper-slide img.second {
    width: 15rem;
  }
}

html {
  background-image: url(../img/BDEPOT6_ES_DESKTOP.jpg);
  /* background-image: url(../img/mobile.png); */
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  opacity: 0.6;
}

/* header {
  height: 90vh;
} */
