@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-MediumItalic.eot');
    src: local('Barlow Semi Condensed Medium Italic'), local('BarlowSemiCondensed-MediumItalic'),
        url('BarlowSemiCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-MediumItalic.woff') format('woff'),
        url('BarlowSemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ExtraBold.eot');
    src: local('Barlow Semi Condensed ExtraBold'), local('BarlowSemiCondensed-ExtraBold'),
        url('BarlowSemiCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraBold.woff') format('woff'),
        url('BarlowSemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Medium.eot');
    src: local('Barlow Semi Condensed Medium'), local('BarlowSemiCondensed-Medium'),
        url('BarlowSemiCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('BarlowSemiCondensed-Medium.woff') format('woff'),
        url('BarlowSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-BoldItalic.eot');
    src: local('Barlow Semi Condensed Bold Italic'), local('BarlowSemiCondensed-BoldItalic'),
        url('BarlowSemiCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-BoldItalic.woff') format('woff'),
        url('BarlowSemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Thin.eot');
    src: local('Barlow Semi Condensed Thin'), local('BarlowSemiCondensed-Thin'),
        url('BarlowSemiCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Thin.woff2') format('woff2'),
        url('BarlowSemiCondensed-Thin.woff') format('woff'),
        url('BarlowSemiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Regular.eot');
    src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'),
        url('BarlowSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Regular.woff2') format('woff2'),
        url('BarlowSemiCondensed-Regular.woff') format('woff'),
        url('BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ExtraBoldItalic.eot');
    src: local('Barlow Semi Condensed ExtraBold Italic'), local('BarlowSemiCondensed-ExtraBoldItalic'),
        url('BarlowSemiCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraBoldItalic.woff') format('woff'),
        url('BarlowSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('BarlowSemiCondensed-ExtraLightItalic.eot');
    src: local('Barlow Semi Condensed ExtraLight Italic'), local('BarlowSemiCondensed-ExtraLightItalic'),
        url('BarlowSemiCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraLightItalic.woff') format('woff'),
        url('BarlowSemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Bold.eot');
    src: local('Barlow Semi Condensed Bold'), local('BarlowSemiCondensed-Bold'),
        url('BarlowSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('BarlowSemiCondensed-Bold.woff') format('woff'),
        url('BarlowSemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Italic.eot');
    src: local('Barlow Semi Condensed Italic'), local('BarlowSemiCondensed-Italic'),
        url('BarlowSemiCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Italic.woff2') format('woff2'),
        url('BarlowSemiCondensed-Italic.woff') format('woff'),
        url('BarlowSemiCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Light.eot');
    src: local('Barlow Semi Condensed Light'), local('BarlowSemiCondensed-Light'),
        url('BarlowSemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Light.woff2') format('woff2'),
        url('BarlowSemiCondensed-Light.woff') format('woff'),
        url('BarlowSemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBold.eot');
    src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'),
        url('BarlowSemiCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBold.woff') format('woff'),
        url('BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-BlackItalic.eot');
    src: local('Barlow Semi Condensed Black Italic'), local('BarlowSemiCondensed-BlackItalic'),
        url('BarlowSemiCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-BlackItalic.woff') format('woff'),
        url('BarlowSemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-LightItalic.eot');
    src: local('Barlow Semi Condensed Light Italic'), local('BarlowSemiCondensed-LightItalic'),
        url('BarlowSemiCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-LightItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-LightItalic.woff') format('woff'),
        url('BarlowSemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBoldItalic.eot');
    src: local('Barlow Semi Condensed SemiBold Italic'), local('BarlowSemiCondensed-SemiBoldItalic'),
        url('BarlowSemiCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBoldItalic.woff') format('woff'),
        url('BarlowSemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Black.eot');
    src: local('Barlow Semi Condensed Black'), local('BarlowSemiCondensed-Black'),
        url('BarlowSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-Black.woff2') format('woff2'),
        url('BarlowSemiCondensed-Black.woff') format('woff'),
        url('BarlowSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ThinItalic.eot');
    src: local('Barlow Semi Condensed Thin Italic'), local('BarlowSemiCondensed-ThinItalic'),
        url('BarlowSemiCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-ThinItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ThinItalic.woff') format('woff'),
        url('BarlowSemiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('BarlowSemiCondensed-ExtraLight.eot');
    src: local('Barlow Semi Condensed ExtraLight'), local('BarlowSemiCondensed-ExtraLight'),
        url('BarlowSemiCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('BarlowSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraLight.woff') format('woff'),
        url('BarlowSemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

